body {
	text-align: center;
	font-size: 3em;
}
h1 {
	font-family: 'Architects Daughter';
}



.info {
	height: 180px;
	width: 150px;
	border-radius: 10px;
	background-color: white;
	opacity: .5;
	margin: 0 auto;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}